@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 60px 0 0 0;
    background: url(images/main_background.png)                     
         no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;   
    font: normal 25px 'Source Sans Pro';
}            



.logoText {
    font: normal 30px Pacifico;
}


img {
    width: 50%;
    padding: 5% 8%; 
}


p {
    height: 100%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    line-height: 200%;
    width: 50%;
    padding: 5%;
    
}

#container {
    width: 90vw;
    margin: 0 auto;
}


.image-left img{
    float: left;
}

.image-right img{
    float: right;
}

.image-left p{
    float: right;
    
}

.image-right p{
    
    float: left;
   
}
.content-light {
    background-color: hsla(190, 70%, 90%, 0.7);
    
}

.content {
    width: 100%;
    height: 5%;  
    margin: 5px;
}
    

.content-dark {
    background-color: hsla(190, 70%, 10%, 0.7);
    color: #ffffff;
    width: 100%;
    height: 5%;  
    margin: 5px;
}

section {
    display: inline-block;
}

#game {
    background: #000000;
}



.gamePostion {
    float: left;
}

div {
    height: 500px;
    width: 500px;
    top: 0;
    right: 0;
}

iframe {    
    display: block;
}

.nextGame p {
    float: right;
    width: 100%-500px;
}




.buttons-3d {
    height: 100%;
    position: relative;
}

.buttons-3d > section {
    margin: 0 auto;
    padding: 6em 3em;
    text-align: center;
    color: fuchsia;
}
    
.btn {
    border: none;
    position: relative;
    background: hsl(240, 70%, 70%);
    padding: 28px 90px;
    display: inline-block;
    text-transform: uppercase;
    margin: 15px 30px;
    color: inherit;
    letter-spacing: 2px;
    font-size: 0.9em;
    outline: none;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.button-perspective {
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.btn-3d {
    display: block;
    background: #5cbcf6;
    outline: 1px solid transparent;
    transform-style: preserve-3d;
}

.btn-3d:active {
    background: #55b7f3;
}

.btn-find:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    background: #53a6d7;
    -moz-transform-origin: 100% 0%;
    -moz-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform: rotateY(-90deg);
    -ms-transform-origin: 100% 0%;
    -ms-transform: rotateY(-90deg);
    transform-origin: 100% 0%;
    transform: rotateY(-90deg);
}

.btn-find:hover {
    -moz-transform: rotateY(35deg);
    -webkit-transform: rotateY(35deg);
    -ms-transform: rotateY(35deg);
    transform: rotateY(35deg);
}

.btn-how:after {
    width: 20%;
    height: 100%;
    left: 100%;
    top: 0;
    background: #53a6d7;
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateY(90deg);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateY(90deg);
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotateY(90deg);
    transform-origin: 0% 0%;
    transform: rotateY(90deg);
}

.btn-how:hover {
    -moz-transform: rotateY(-35deg);
    -webkit-transform: rotateY(-35deg);
    -ms-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
}



 /*------------MEDIA------------------*/
        @media screen and (max-width: 800px){
            img {
                clear: both;
                width: 70%;
                margin: 2% 15%;  
            }
            
            p{
                width: 60%;
                margin: 0 20%;
            }
            
            .image-left p {
                clear: right;
             
            
            }
            
            .image-right p{
                clear: left;
            }
        }

 @media screen and (max-width: 565px){
      body{
          padding: 220px 0 0 0;
      }
 }

@media screen and (max-width:480px){
    .buttons-3d {
        font-size: 1.2em;
        display: block;
    }
}
        


#menu img {
    height: 100%;
}
