@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.logo img{
    padding: 0px;
    margin: 0;
    width: 100px;
    float: left;
}

ul {
    padding: 0;
    margin: 0;
}

          

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: hsla(190, 70%, 90%, 0.5);
    height: 60px;
}

ul li {
    display: inline-block;
    padding: 5px 15px;
}

.navigation {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    color: #1f1f1f;
}

nav {
    position: relative;
    width: 490px;
    position: relative;
}

.centre {
    margin-left: auto;
    margin-right: auto;
    left: 5%;
    right: 0;
    transition: all 0.7s ease;
}

.right {
    margin-left: auto;
    margin-right: auto;
    left: -5%;
    right: 0;
    transform: translateX(100%);
    transition: all 0.7s ease;
}

<!-- An attempt to make the menu selection bigger -->
#menu li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

/*------------MEDIA------------------*/
 @media screen and (max-width: 565px){
    ul li {
        display: list-item;
        list-style: none;
        padding: 5px 5px;
        text-align: center;
    }
    
    nav{
        width:100%;
    }
     header{
          height: 220px;  
        position: absolute;
     }
 }